<div class="spacer">
    <h2>
        <div class="controls">
            <a href="edit.html">[edit]</a>
            <a href="history.html">[history]</a>
        </div>
    </h2>
    <article>
        {{article.title}}
    </article>
</div>